.newBtn {
    display: block;
    padding: 12px;
    width: 200px;
    margin: 0 auto;
    border-radius: 21px;
    background: #29b744;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}

.form-div {
    max-width: 800px;
    margin: 0 auto;
}