.detail {
    h2 {
        font-size: 15px;
        font-weight: 900;
    }
    div {
        font-size: 20px;
        border-bottom: solid 1px gray;
        margin-bottom: 40px;
    }
    .title {
        font-size: 30px;
    }
    .memo {
        background: #EEE;
        padding: 2px 5px;
    }
}

.new-line {
    white-space: pre-wrap;
}

.btnWrapper {
    text-align: center;
}

.editBtn {
    display: block;
    padding: 12px;
    width: 200px;
    margin: 0 auto;
    border-radius: 21px;
    background: #0072bc;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}

.deleteBtn {
    display: inline-block;
    color: red;
    padding: 15px;
    text-align: center;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}